<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>this is home page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body my-5">


                <h3 class="my-3" style="margin-top: 10px; padding-bottom: 20px;">Payment Amount</h3>
                <input id="payment_field" type="text" class="form-control my-2" th:placeholder="${cost}" />
                <div class="container text-center mt-3" style="padding-top: 30px;padding-right: 100px;padding-left: 100px;">
                    <button onclick="paymentStart()" class="btn btn-success btn-block">Checkout</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $(".item").removeClass("active");
        });
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</section>
</body>
</html>
