<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
    <link rel="icon" href="favicon.ico">
</head>
<body>
	<section>
        <div id = "login" class="login-page ">
                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid username and password
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out
                        </div>
                        <div th:if="${param.change}" class="alert alert-success">
                            <p th:text="${param.change}"></p>
                        </div>
            <div class="form">
                        <form id="login-form" class="loign-form" th:action="@{/dologin}" action="#" method="post" th:object="${user}">
                                <input type="text" name="username" id="username" class="form-control" placeholder="Email">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                                <button type="submit" name="submit" class="submit">Login</button>
                        </form>
                        <form class="login-form">
                            <p class="message">Not registered? <a th:href="@{/signup}">Create an account</a></p>
                            <p class="message">Are you a Worker? <a th:href="@{/wlogin}">Login here</a></p>
                        </form>
            </div>
                    </div>
                </div>
	</section>
</body>
</html>