<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
<section style="margin-top: 100px; padding-top: 50px;">
		
		<div class="card">
		
		<div class="card-body" style="padding-top: 15px;">
		
		<h1 class="text-center">Your Workers</h1>

			<div class="search-container my-3">
				<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your Workers" />
				<div class="search-result">
				</div>
			</div>

		<div class="table-responsive">
		<table class="table  ">
			  <thead class="thead-light ">
			    <tr>
			      <th scope="col">Name</th>
			      <th scope="col">Email</th>
			      <th scope="col">Phone</th>
				  <th scope="col">Work</th>
					<th scope="col">Rating</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="c : ${workers}">
			      <td><span th:text="${c.name}"></span></td>
			      <td>
			      	<span th:text="${c.email}"></span>
			      </td>
			      <td th:text="${c.phone}"></td>
					<td>
						<span th:text="${c.work}"></span>
					</td>
					<td>
						<span th:text="${c.rating}"></span>
					</td>
			      <td>
					  <a href="#" th:onclick="|deleteWorker(${c.cId})|" class="btn btn-danger-shadow-none"><i class="fas fa-trash" style="color:darkred"></i></a>
			      <form method="post" th:action="@{'/user/update-worker/'+${c.cId}}" class="mt-2">
			      
			     		 <button type="submit"  class="btn btn-danger-shadow-none"><i class="fas fa-user-edit" style="color:darkgreen"></i></button>
			       
			       </form>
			      </td>
			    </tr>
			   
			  
			  </tbody>
</table>

</div>
<!--  pagination part -->


		<nav aria-label="Page navigation example">
		
		  <ul class="pagination">
		  
		    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show-worker/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
		   
		    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show-worker/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
		
		    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show-worker/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
		  </ul>
		</nav>
		</div>
		
		</div>
		
		  <script>
        $(document).ready(() => {
          $(".item").removeClass("active");
          $("#workers-link").addClass("active");
        });
      </script>
		
	</section>
</body>
</html>