<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>this is home page</title>
</head>
<body>
<section>

    <div class="card mr-3 ml-3">

        <div class="card-body">

            <h1 class="text-center">Parking Slots</h1>
            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead class="thead-light ">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Location</th>
                        <th scope="col">Available</th>
                        <th scope="col">Users</th>
                        <th scope="col">InTime</th>
                        <th scope="col">OutTime</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${slots}">
                        <td><span th:text="${c.id}"></span></td>
                        <td><span th:text="${c.location}"></span></td>
                        <td><span th:text="${c.available}"></span></td>
                        <td><span th:text="${c.nameOfUsers}"></span></td>
                        <td><span th:text="${c.inTime}"></span></td>
                        <td><span th:text="${c.outTime}"></span></td>
                        <td>
                            <a th:href="@{'/user/deleteslot/' + ${c.id}}" class="btn btn-danger btn-sm">Delete</a>
                            <form method="post" th:action="@{'/user/update-slot/'+${c.id}}" class="mt-2">
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show-slot/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
                    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show-slot/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show-slot/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $(".item").removeClass("active");
            $("#slots-link").addClass("active");
        });
    </script>

</section>
</body>
</html>