body {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
	url(../img/banner.jpg);
	background-size: 1000px 750px;
	opacity: 1.5;
	background-color: #FFFFFF;
!important;
}

.bg-primary {
	background: #171b21 !important;
}

.navbar-brand{
	font-size: 1.5em;
}
.banner {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
	url(../img/banner.jpg);
	background-size: 400% 300%;
	opacity: 2;
	background-size: cover;
	color: white;
}


.my-card {
	padding: 20px;
	background: #FFFFFF;
}

#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 420px;
	border: 1px solid #9C9C9C;
	background-color: white;
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link
{
	margin-top: -85px;
}

/* sidebar style */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background-image: linear-gradient(to bottom right, #dd4b39, #f77f00,#fcbf49);
	height: 39%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999999999999999999999999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: black;
}

.sidebar a:hover {
	background: #034b71;
}

.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {

}


.container{
	padding-top: 2em;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.my_profile_picture{
	width: 35px;
	height: 35px;
	object-fit:cover;
	border-radius:50%;

}

/*  search css */

.search-container{
	position: relative;
}
.search-result{
	position: absolute;
	background:white;
	width: 100%;
	padding:10px;
	border: 1px solid gray;
	display: none;
}

.active{
	background:#023047 !important;
	color:white!important;
}

.card {
	/*background-color: #dd4b39;*/
	color: #bfbecb;
	border-radius: 20px;
	position: relative;
	z-index: 1;
	background: #1f242b;
	/*max-width: 360px;*/
	width: 60%;
	margin: 0 auto 100px;
	padding: 1em;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*text in your profile*/
.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #bfbecb;
	margin-top: 1.5rem;
}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
	padding: 0em;
}

.top1{
	color: #8695a3;
	background-color: #25303b;
	border-color: #25303b;
}


.dropbtn {
	background-color: #04AA6D;
	color: #171b21;
	padding: 1em;
	font-size: 1em;
	border: none;
}


.dropdown {
	position: relative;
	display: inline-block;
	margin: 0.4em;
	bottom: 1px;


}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px #171b21;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #171b21;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}