<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--	th:replace="base::layout(~{::section})">-->
<!--<head>-->
<!--<meta charset="UTF-8" />-->
<!--<title>this is home page</title>-->
<!--</head>-->
<!--<body>-->
<!--	<section class="banner">-->
<!--		<h1>Contributors: </h1>-->
<!--		<h2>Khushil Kataria 2020A7PS2086H</h2>-->
<!--		<h2>Pulkit Agrawal 2020A7PS6969H</h2>-->
<!--		<h2>Animish Prateek 2020A7PS6969H</h2>-->
<!--		<h2>Dhairya Agrawal 2020A7PS0130H</h2>-->
<!--	</section>-->
<!--</body>-->
<!--</html>-->