<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--	th:replace="base::layout(~{::section})">-->
<!--<head>-->
<!--<meta charset="UTF-8" />-->
<!--<title>this is home page</title>-->
<!--</head>-->
<!--<body>-->
<!--	<section class="banner d-flex justify-content-center ">-->
<!--		<div class="text-center">-->
<!--			<h1 class="font-weight-bold">Book Your Parking</h1>-->
<!--		    <p>-->
<!--			</p>-->
<!--			<button type="submit" name="submit" class="chalja"><a href="/signup">Get Started</button>-->
<!--		</div>-->
<!--	</section>-->
<!--</body>-->
<!--</html>-->