<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="worker/base::layout(~{::section})"
>
<head>
    <meta charset="UTF-8" />
    <title>Worker Login</title>
</head>
<body>
<section>
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="card">v

                    <div class="card-body">

                        <h3 th:text="${slot}"></h3>

                        <form  th:action="@{'/worker/add-services/'+${slot}+'/'+${worker.name}}" method="post">

                            <div class="form-group">

                                <input name="service" type="service" class="form-control" placeholder="Enter Service" />

                            </div>

                            <div class="conainer text-center">

                                <button type="submit" class="btn btn-success">Add</button>

                            </div>

                        </form>

                    </div>

                </div>


            </div>

        </div>

    </div>

    <script>
        $(document).ready(() => {
            $(".item").removeClass("active");
            $("#settings-link").addClass("active");
        });
    </script>
</section>
</body>
</html>
